/* Стилизация кнопки */
.button {
  min-width: 120px;
  max-width: 190px;
  width: 100%;
  border-radius: 8px;
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, border 200ms ease-in-out,
    background 200ms ease-in-out;
}

.button:not(:last-child) {
  margin-bottom: 24px;
}

.primary__item {
  background-color: var(--primary);
}

.primary__item:hover {
  background-color: var(--primary-hover);
}

.primary__item:disabled {
  background-color: var(--primary-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}

.secondary__item {
  background-color: var(--secondary);
}

.secondary__item:hover {
  background-color: var(--secondary-hover);
}

.secondary__item:disabled {
  background-color: var(--secondary-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}

.alternate__item {
  background-color: transparent;
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.alternate__item:hover {
  border: 1px solid var(--black);
}

.alternate__item:disabled {
  border: 1px solid var(--black);
  opacity: 0.5;
  cursor: not-allowed;
}
