/* Стилизация аккордеона */

.accordions {
  max-width: 730px;
  width: 100%;
  margin: 50px auto 0 auto;
}

.accordion {
  box-sizing: border-box;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.accordion:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('https://www.iconninja.com/files/76/1015/692/back-arrow-icon.svg')
    center/100% no-repeat;
  right: 28px;
  top: 20px;
  transform: rotate(270deg);
  transition: 0.3s;
}

.accordion[open]:after {
  transform: rotate(90deg);
}

.accordion:not(:last-child) {
  margin-bottom: 10px;
}

.accordion__title {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  display: block;
  outline: none;
}

.accordion__title::-webkit-details-marker {
  display: none;
}

.accordion__description {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
