p {
  margin: 0;
}

.histogram {
  margin: 50px auto 0 auto;
  height: 150px;
  max-width: 354px;
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 16px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-between;
}

.order-count__title {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 6px;
  opacity: 0.8;
}

.order-count__amount {
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
}

.link__item {
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  transition: 0.3s color ease-in-out;
  text-decoration: none;
}

.link__item:hover {
  color: var(--purple);
}

.content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 50px;
}

.content__item {
  background-color: var(--blue);
  flex: 1 1 auto;
  margin: 0 1px;
}
