.skeleton_preview {
  margin: 50px auto 0 auto;
}

.skeleton {
  max-width: 580px;
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 24px 32px 24px;
}

.skeleton__head {
  display: flex;
  align-items: center;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--grey-2);
  margin-bottom: 24px;
}

.skeleton__avatar {
  margin-right: 16px;
}

.skeleton__row {
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  height: 20px;
}

.skeleton__description {
  max-width: 260px;
  width: 100%;
}

.skeleton__row-name {
  width: 70%;
  margin-bottom: 8px;
}

.skeleton__row-desc {
  width: 100%;
}

.skeleton__row-line:not(:last-child) {
  margin-bottom: 8px;
}
